<p id="notice"><%= notice %></p>

<p>
  <strong>Village:</strong>
  <%= @donorvillage.village %>
</p>

<p>
  <strong>User:</strong>
  <%= @donorvillage.user %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @donorvillage.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @donorvillage.end_date %>
</p>

<p>
  <strong>Amount for village:</strong>
  <%= @donorvillage.amount_for_village %>
</p>

<p>
  <strong>Status:</strong>
  <%= @donorvillage.status %>
</p>

<%= link_to 'Edit', edit_donorvillage_path(@donorvillage) %> |
<%= link_to 'Back', donorvillages_path %>
