<h1>Listing villageusers</h1>

<table>
  <thead>
    <tr>
      <th>Village</th>
      <th>User</th>
      <th>Role</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @villageusers.each do |villageuser| %>
      <tr>
        <td><%= villageuser.village %></td>
        <td><%= villageuser.user %></td>
        <td><%= villageuser.role %></td>
        <td><%= villageuser.start_date %></td>
        <td><%= villageuser.end_date %></td>
        <td><%= villageuser.status %></td>
        <td><%= link_to 'Show', villageuser %></td>
        <td><%= link_to 'Edit', edit_villageuser_path(villageuser) %></td>
        <td><%= link_to 'Destroy', villageuser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Villageuser', new_villageuser_path %>
