<%= form_for @user, :remote => true, :validate => true do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<ul class="formFields">
  <li>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </li>
  <li>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </li>
  <li>
    <%= f.label :email_address %>
    <%= f.text_field :email_address %>
  </li>
  <li>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </li>
  <li>
    <%= f.label :gender %>
    <%= f.select :gender, options_for_select(@genders, @user.gender) %>
  </li>
  <li>
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </li>
  <li>
    <%= f.label :login %>
    <%= f.text_field :login %>
  </li>
   <li>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </li>
  <li>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </li>
  <li>
    <%= f.label :role %>
    <%= f.select :role, options_for_select(@roles, @user.role), :prompt => "Select a role" %>
  </li>
</ul>

<% end %>
