<h1>Listing blocks</h1>

<p>Filters</p>
<form action="<%= blocks_path(:district_id => nil)%>", method="get">
     <%= select_tag :district_id, options_from_collection_for_select(@districts, :id, :name, @district_id), :include_blank => "All Districts", :onchange => 'submit()'  %>
</form>

<table>
  <thead>
    <tr>
      <th>Code</th>	      
      <th>Name</th>
      <th>District</th>
      <th>Project Manager</th>
      <th>Project Director</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @blocks.each do |block| %>
      <tr>
        <td><%= block.block_code %></td>
        <td><%= block.name %></td>
        <td><%= block.district.name %></td>
	<td>
	<% if (!block.manager.nil?) %>
		<%= block.manager.user.name %><br />
	    <%= block.manager.start_date %> - <%= block.manager.end_date %>
	<% end %>
	</td>
	<td>
	<% if (!block.director.nil?) %>
	    <%= block.director.user.name %><br />
	    <%= block.director.start_date %> - <%= block.director.end_date %>
	<% end %>
	</td>	
        <td><%= link_to 'Show', block %></td>
        <td><%= link_to 'Edit', edit_block_path(block) %></td>
        <td><%= link_to 'Destroy', block, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Block', new_block_path %>
