<section class="span9">
	<header class="row-fluid sectionHeader">
		<div class="span6">
		  <p class="backlinks">&nbsp;</p>
		  <h2>Villages</h2>
		</div>
		<div class="span6 text-right mt20">
	   	   <%= link_to new_village_path, :remote => true do %>
		      <%= image_tag('/images/spacer.gif', :class => "icon_add") %> Add Village
	  	   <% end %>
		</div>
	</header>
	<div class="content">
		<table class="table table-hover table-striped">
		  <thead>
		    <tr>
		      <th><%= sortable "village_code", "Code" %></th>
		      <th><%= sortable "name"%></th>
		      <th><%= sortable "block_id"%></th>
  		      <th>Funding Status</th>
		      <th>Action</th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @villages.each do |village| %>
		      <tr>
			<td><%= village.village_code %></td>	
			<td><%= link_to village.name, village %></td>	
			<td><%= village.block.name %></td>
			<td><%= village.villageinfo.nil? ? '' : village.villageinfo.Status %></td>
			<td>	
			<%= link_to image_tag('/images/spacer.gif', :class => "icon_edit"), edit_village_path(village), :remote => true %>
			<%= link_to image_tag('/images/spacer.gif', :class => "icon_delete"), village, method: :delete, data: { confirm: 'Are you sure?' } %>
			</td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
</section>

