<p id="notice"><%= notice %></p>

 <div class="row-fluid">
    <section class="span12">
      <header class="row-fluid sectionHeader">
        <div class="span6">
        <p class="backlinks">
	  <%= link_to villages_path do %>
	   <%= image_tag('/images/spacer.gif', :class =>"icon_back") %> Villages
	  <% end %>
	</p>        
        <h2><%= @village.name %></h2>
        </div>
        <div class="span6 text-right mt20">
          <div class="sectionHeader-actions">
		<%= link_to edit_village_path(@village), :remote => true do%>
		     <%= image_tag('/images/spacer.gif', :class =>"icon_edit") %> Edit
	        <%end%>
	  </div>
        </div>
      </header>
      <div class="content">
         <div class="span12">
	     <ul class="formFields">
		<li><label>Village Code</label> <%= @village.village_code %></li>
		<li><label>Village Name</label> <%= @village.name %></li>
	        <li><label>Block</label> <%= @village.block.name %></li>
	     </ul>
	  </div>
      </div>
    </section>
  </div>
</div>

