<%= form_for @district, :remote => true, :validate => true do |f|  %>
  <% if @district.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@district.errors.count, "error") %> prohibited this district from being saved:</h2>

      <ul>
      <% @district.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<ul class="formFields">
  <li>
    <%= f.label :district_code, 'District Code' %>
    <%= f.text_field :district_code %>
   </li>
  <li>
    <%= f.label :name, 'District Name' %>
    <%= f.text_field :name, :class => "w70per" %>
  </li>
</ul>

  
<% end %>
