<h1>Districts</h1>
<%= link_to 'Add District', new_district_path, :remote => true %>
<table>
  <thead>
    <tr>
      <th><%= sortable "district_code"%></th>
      <th><%= sortable "name"%></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @districts.each do |district| %>
      <tr>
        <td><%= district.district_code %></td>
        <td><%= link_to district.name, district %></td>
        <td><%= link_to 'Edit', edit_district_path(district), :remote => true %></td>
        <td><%= link_to 'Destroy', district, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


