<p id="notice"><%= notice %></p>

<%= link_to 'Back', districts_path %>
<h1><%= @district.name %></h1>
<p>
  <strong>Code:</strong>
  <%= @district.district_code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @district.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>      
      <th>Project Manager</th>
      <th>Project Director</th>
    </tr>
  </thead>

  <tbody>
    <% @blocks.each do |block| %>
      <tr>
        <td><%= block.block_code %></td>	
        <td><%= link_to block.name, block %></td>
	<% if (!block.manager.nil?) %>
	<td><%= block.manager.user.name %>
	    <br />
	    <%= block.manager.start_date %> - <%= block.manager.end_date %>
	</td>
	<% end %>
	<% if (!block.director.nil?) %>
	<td><%= block.director.user.name %><br />
	    <%= block.director.start_date %> - <%= block.director.end_date %>
	</td>	
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>




