<p id="notice"><%= notice %></p>

 <div class="row-fluid">
    <section class="span12">
      <header class="row-fluid sectionHeader">
        <div class="span6">
        <p class="backlinks">
	  <%= link_to districts_path do %>
	   <%= image_tag('/images/spacer.gif', :class =>"icon_back") %> Districts
	  <% end %>
	</p>        
        <h2><%= @district.name %></h2>
        </div>
        <div class="span6 text-right mt20">
          <div class="sectionHeader-actions">
		<%= link_to edit_district_path(@district), :remote => true do%>
		     <%= image_tag('/images/spacer.gif', :class =>"icon_edit") %> Edit
	        <%end%>
	  </div>
        </div>
      </header>
      <div class="content">
      <div class="span12">
     <ul class="formFields">
	<li><label>District Code</label> <%= @district.district_code %></li>
        <li><label>District Name</label> <%= @district.name %></li>
     </ul>

	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-hover table-striped">
	 <tr>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Project Manager</th>
            <th scope="col">Project Director</th>
          </tr>

	    <% @blocks.each do |block| %>
	      <tr>
		<td><%= block.block_code %></td>	
		<td><%= link_to block.name, block %></td>
		<% if (!block.manager.nil?) %>
		<td><%= block.manager.user.name %>
		    <br />
		    <%= block.manager.start_date %> - <%= block.manager.end_date %>
		</td>
		<% end %>
		<% if (!block.director.nil?) %>
		<td><%= block.director.user.name %><br />
		    <%= block.director.start_date %> - <%= block.director.end_date %>
		</td>	
		<% end %>
	      </tr>
	    <% end %>
	 
	</table>
	</div>
      </div>
    </section>
  </div>
</div>
